.filme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.filme b{
    padding-bottom: 15px;
    font-size: 22px;
}


.filme img{
    width:900px;
    max-height: 350px;
}