.Erro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Erro h1{
    font-size: 100px;
}

.Erro a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: brown;
    border-radius: 5px;
}